* {
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
    font-family: cursive;
}


/* header {
    background-image: linear-gradient(to right, blue, hotpink);
} */

#date {
    width: 9%;
    background: rgb(78 174 203);
    color: black;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 2px gray;
}

.container {
    box-shadow: 0px 0px 31px 14px #86828b;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(78 174 203);
}

.logo {
    width: 20%;
}

.logo h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0px;
}

.logo:hover {
    background-color: rgb(78 174 203);
    border-radius: 0px 20px 0px 20px;
}


/* .logo img {
    width: 90%;
} */

.t-n-menu {
    width: 45%;
    /* background-color: aqua; */
    overflow: hidden;
}

.menu-item {
    width: 100%;
    /* background-color: aliceblue; */
    /* float: right; */
}

.menu-item ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-item ul li {
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    /* background-color: gray; */
    margin-top: 17px;
}

.menu-item ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 17px 22px;
}

.menu-item ul li a:hover {
    color: black;
    background-color: rgb(78 174 203);
    /* border-radius: 10px; */
}

.toggle {
    display: none;
}

.h-b {
    height: 400px;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(78 174 203);
}

.h-b-con {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.h-b-i {
    width: 55%;
    height: 90%;
}

.h-b-i img {
    width: 100%;
    height: 100%;
}

.h-b-cont {
    width: 35%;
    /* height: 80%; */
}

.h-b-cont h2 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 15px;
}

.h-b-cont p {
    font-style: italic;
    margin-bottom: 45px;
}

.h-b-cont a:hover {
    text-decoration: none;
    font-style: italic;
    background-color: rgb(78 174 203);
    padding: 10px 15px;
    color: black;
    box-shadow: 0px 0px 4px 3px lightgray;
}


/* .container {
    border-bottom: 4px solid rgb(78 174 203);
} */

.m-cont {
    width: 100%;
}

.calender-ramadan {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
}

.calender-ramadan h1,
.calender-ramadan h2,
.calender-ramadan h3 {
    text-align: center;
    margin-bottom: 20px;
}

.calender-ramadan table {
    width: 100%;
}

.calender-ramadan table,
th,
tr,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.tr-head {
    font-weight: 900;
}

.rohomot {
    background-color: rgb(57, 142, 202);
}

.magfirat {
    background-color: goldenrod;
}

.najat {
    background-color: rgba(198, 73, 146, 0.838);
}

.other-jila-time,
.notics {
    width: 90%;
    /* background-color: blue; */
    margin: auto;
}

.common-jill {
    text-align: center;
    border: 1px dotted olive;
    padding: 10px;
    margin-bottom: 15px;
}

.other-jila {
    border: 1px dotted olive;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.notics {
    text-align: center;
    background-color: #9BBB59;
    height: 100px;
    width: 90%;
}

.notics img {
    width: 95%;
    height: 90%;
    margin-top: 5px;
}

.footer {
    width: 100%;
    border-bottom: 8px solid rgb(57, 142, 202);
}

.footer-con {
    width: 90%;
    margin: 15pxx auto;
}

.container-main {
    width: 100%;
    border-top: 8px solid rgb(57, 142, 202);
}

.image-gallary {
    text-align: center;
    font-size: 35px;
}

.ifter-image {
    height: 250px;
    width: 500px;
    border: 2px solid rgb(57, 142, 202);
}

.image-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image-div img {
    height: 150px;
    width: 200px;
}